[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.dev{
	display:none;
}

.content {
    -webkit-transform: translate3d(0, 0, 0);
    /*position:relative; 
    z-index:1000;
    display:block;*/
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}


label {
  font-weight: normal;
  font-size: 14px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.input-group, input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 30px;
  padding: 2px;
	-webkit-appearance: none;
}

input[type="number"] {
  text-align:right;
}



.tbl {
	font-size: 14px;
	font-family: inherit;
	text-align: center;
	/*border: 1px dotted gray;*/
}


.table-view-cell {
  padding: 11px 15px;
}

.btn-block {
	padding-top: 5px;
	padding-bottom: 5px;
}

#loadingMsg {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:8em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    text-align: center;
		z-index: 1000;
}